h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
}

header {
	height: 70px;
	margin: 10px;
	margin-bottom: 50px

}

#header-logo {
	height: 70px;
	float:left;
}

#header-titles {
	float: right;
	height: 100%;
	vertical-align: middle;

}

#header-name h1, #header-subtitle h3 {
	text-align: right;
	text-transform: uppercase;
	margin: 0px;
}

#header-name h1 {
	height: 50px;
}
#header-subtitle h3 {
	height: 20px;
}

#separator hr {
	margin-bottom: 20px;
	margin-top: 20px;
	color: black;
	width:100%;
	float: left;
	border-top: 5px solid #7d97ad;
}

#container {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: auto;
}

.work {
	float: left;
	background-color: blue;
	width: calc((100% - 20px)/3);
	margin-right: 10px;
}
.work:last-of-type {
	margin-right: 0px;
}

.work h3 {
	text-align: center;
}

.work-img {
	width: 100%;
}

#featured-img img{
	width: 100%;
	flex-wrap: wrap;
	margin-bottom: 20px;
}

#featured-work {
	float: left;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

#featured-work-title {
	color: #7d97ad;
	width: 100%;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	#container {
		margin-left: 20px;
		margin-right: 20px;
	}
	.work {
		width: calc((100% - 20px)/2);
	}
}

@media screen and (max-width: 450px) {
	.work {
		width: 100%;
	}
}