h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
}

header {
	height: 70px;
	margin: 10px;
	margin-bottom: 50px

}

#header-logo {
	height: 70px;
	float:left;
}

#header-titles {
	float: right;
	height: 100%;
	vertical-align: middle;
}

#header-name h1, #header-subtitle h3 {
	text-align: right;
	text-transform: uppercase;
	margin: 0px;
}

#header-name h1 {
	height: 50px;
}
#header-subtitle h3 {
	height: 20px;
}

#separator hr {
	margin-bottom: 20px;
	margin-top: 20px;
	color: black;
	width:100%;
	float: left;
	border-top: 5px solid #7d97ad;
}

main {
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: auto;
}

.work {
	float: left;
	width: calc((100% - 40px)/3);
	margin-right: 20px;
	margin-bottom: 10px;
	text-align: center;
}
article.work:nth-of-type(3n) {
	margin-right: 0px;
}
.work a {
	text-decoration: none;
	font-size: 12px;	
	color: #2d3c49;

}
.work h3{
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 10px;
}

.work-img {
	width: 100%;
}

#featured-img img{
	width: 100vw;
	max-width: 100%;
	margin-bottom: 20px;
}

#featured-work {
	float: left;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

#featured-work-title {
	color: #7d97ad;
	width: 100%;
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	main {
		margin-left: 20px;
		margin-right: 20px;
	}
	.work {
		width: calc((100% - 40px)/2);
	}
	article.work:nth-of-type(3n) {
	margin-right: 20px !important;
	}
	article.work:nth-of-type(2n) {
	margin-right: 0px;
}
}

@media screen and (max-width: 450px) {

	#header-logo {
		height: 30px;
		vertical-align: middle;
	}
	.work:nth-of-type(3n) {
		margin-right: 0px;
	}
	.work {
		width: 100%;
	}
	h1 {
		font-size: 1.2em;
	}
	#header-name h1 {
		line-height: 30px;
	}
	header {
		height: 30px;
	}
	#header-subtitle {
		display: none;
	}

}